{% trans_default_domain 'FOSUserBundle' %}

{% block main %}
 {% for flash_message in app.session.flashbag.get('notice') %}
     <div class="alert alert-success">
         {{ flash_message }}
     </div>
 {% endfor %}
{% endblock %}

<div class="well col-lg-7">
   {# <h3>{{ 'Profile'|trans({}, 'messages') }}</h3>
    <br />
    <div class="fos_user_user_show">
        {{ 'profile.show.username'|trans }}: {{ user.username }}
        {{ 'profile.show.email'|trans }}: {{ user.email }}
    </div>
    #}
</div>