{% extends 'configuration/index.html.twig' %}

{% block body_id 'configuration_contact_type_edit' %}

{% block configuration %}

    <div class="well col-lg-7">

        <h2>{{ 'Configuration.Titles.ContactTypeEdition' | trans({}, 'configuration_labels') }}</h2>

        {{ form_start(form, {'method': 'post', 'action': path('configuration_contact_type_edit', {contactTypeId: contactTypeId})}) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-sm btn-danger" type="submit" value="{{ 'Save'|trans }}" />
            <a href="{{ path('configuration_contact_types', {page: page}) }}"><input class="btn btn-sm btn-primary" type="button" value="{{ 'Cancel'|trans }}" formnovalidate/></a>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}
