{% extends 'configuration/index.html.twig' %}

{% block body_id 'configuration_disease_constrain_list' %}

{% block configuration %}

    <h2>{{ 'Configuration.Titles.DiseaseConstraintListForDisease' | trans({'Disease': diseaseName}, 'configuration_labels') }}</h2>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12">
            <a href="{{ path('configuration_disease_constraint_add', {'diseaseId': diseaseId}) }}"><button class="btn btn-sm btn-info"><i class="fa fa-plus"></i> {{ 'Configuration.Buttons.AddDiseaseConstraint' | trans({}, 'configuration_labels') }}</button></a>
            <a href="{{ path('configuration_diseases') }}"><button class="btn btn-sm btn-info"><i class="fa fa-angle-double-up"></i> {{ 'Configuration.Buttons.ReturnToDiseases' | trans({}, 'configuration_labels') }}</button></a>
        </div>
    </div>

    {% if pagination.getTotalItemCount %}

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'Configuration.DiseaseConstraints.ReferenceValueFrom'|trans({}, 'configuration_labels') }}</th>
                <th>{{ 'Configuration.DiseaseConstraints.Operator'|trans({}, 'configuration_labels') }}</th>
                <th>{{ 'Configuration.DiseaseConstraints.ReferenceValueTo'|trans({}, 'configuration_labels') }}</th>
                <th>{{ 'Configuration.DiseaseConstraints.Period'|trans({}, 'configuration_labels') }}</th>
                <th colspan="2">{{ 'Configuration.DiseaseConstraints.Actions'|trans({}, 'configuration_labels') }}</th>
            </tr>
            </thead>

            <tbody>
                {% for constraint in pagination %}
                <tr>
                    <td>{{ constraint.id }}</td>
                    <td>{{ constraint.referenceValueFrom }}</td>
                    <td>{{ constraint.operator }}</td>
                    <td>{{ constraint.referenceValueTo }}</td>
                    <td>{{ constraint.period }}</td>
                    <td><a href="{{ path('configuration_disease_constraint_edit', {diseaseId: diseaseId, diseaseConstraintId: constraint.id}) }}"><button class="btn btn-info btn-xs"><i class="fa fa-edit"></i> {{ 'Configuration.Buttons.EditDiseaseConstraint' | trans({}, 'configuration_labels') }}</button></a></td>
                    <td><a href="{{ path('configuration_disease_constraint_remove', {diseaseId: diseaseId, diseaseConstraintId: constraint.id}) }}"><button class="btn btn-danger btn-xs"><i class="fa fa-remove"></i> {{ 'Configuration.Buttons.RemoveDiseaseConstraint' | trans({}, 'configuration_labels') }}</button></a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

    {% else %}

        <p>{{ 'Configuration.DiseaseConstraints.None'|trans({}, 'configuration_labels') }}</p>

    {% endif %}

    <div class="navigation col-lg-offset-8">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
