{% extends 'configuration/index.html.twig' %}

{% block body_id 'configuration_generate' %}

{% block configuration %}

    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="nav-item {{ (active == 'report') ? 'active' : ''}}">
            <a class="nav-link" id="report-tab" data-toggle="tab" href="#nav-report" role="tab" aria-controls="report" aria-selected="true">{{ report.tab | trans({}, 'configuration_labels') }}</a>
        </li>

        <li class="nav-item {{ (active == 'alert') ? 'active' : ''}}">
            <a class="nav-link" id="alert-tab" data-toggle="tab" href="#nav-alert" role="tab" aria-controls="alert" aria-selected="false">{{ alert.tab | trans({}, 'configuration_labels') }}</a>
        </li>
    </ul>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade {{ (active == 'report') ? 'in active' : ''}}" id="nav-report" role="tabpanel" aria-labelledby="report-tab">
            <div class="well col-lg-7">
                <h2>{{ report.titleKey | trans({}, 'configuration_labels') }}</h2>

                {{ form_start(report.form, {'method': 'post', 'action': path(actionPathKey)}) }}
                {{ form_widget(report.form) }}
                <div>
                    <input class="btn btn-danger" type="submit" value="{{ 'Generate'|trans }}" />
                </div>
                {{ form_end(report.form) }}
            </div>
        </div>

        <div class="tab-pane fade {{ (active == 'alert') ? 'in active' : ''}}" id="nav-alert" role="tabpanel" aria-labelledby="alert-tab">
            <div class="well col-lg-7">
                <h2>{{ alert.titleKey | trans({}, 'configuration_labels') }}</h2>

                {{ form_start(alert.form, {'method': 'post', 'action': path(actionPathKey)}) }}
                {{ form_widget(alert.form) }}
                <div>
                    <input class="btn btn-danger" type="submit" value="{{ 'Generate'|trans }}" />
                </div>
                {{ form_end(alert.form) }}
            </div>
        </div>
    </div>

{% endblock %}
